[Desktop Entry]
Version=1.0
Name=CID Flutter
GenericName=CID Flutter
Comment=CID manager with graphical interface developed in Flutter.
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;